.styled-input {
  flex: 1; 
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  text-align: left; 
}

.read-only-input {
  background-color: #eae8e8; 
  color: #5a5959; 
  cursor: not-allowed; 
}

.select-group-scorelist {
  display: flex;
  gap: 10px; /* Khoảng cách giữa các nhóm */
  justify-content: flex-start; 
  align-items: flex-start; 
  margin: 10px 0; 
}

.select-group {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 3px; /* Khoảng cách giữa nhãn và ô */
}

.select-label {
  font-size: 14px; 
  font-weight: 600; 
  color: #333; 
  margin-bottom: 5px; 
}

.custom-select {
  position: relative;
  width: 200px; 
}

.styled-select {
  width: 100%; 
  padding: 8px 12px;
  font-size: 14px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  background-color: #fff; 
  appearance: none; 
  outline: none; 
  cursor: pointer;
}

.dropdown-icon {
  position: absolute;
  top: 50%; 
  right: 12px; 
  transform: translateY(-50%); 
  pointer-events: none; 
  color: #666; /* Màu icon */
}

.input-large {
  margin-top: 4px;
  box-sizing: border-box;
  width: 100%; 
  padding: 8px 12px;
  font-size: 20px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  background-color: #fff; 
  font-size: 14px; 
}