/* Căn chỉnh và thiết kế cho sidebar */
.sidebar {
    width: 200px;
    background-color: #f8f9fa;
    padding: 20px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    border: none;
    border-radius: 17px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.logo-image {
    width: 100px;
    height: auto;
    border-radius: 10px;
}


.menu-icon {
    font-size: 20px;
    margin-right: 10px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.title strong {
    color: #d1d800;
}

.menu-section {
    margin-top: 10px;
}

.menu-category {
    font-size: 19px;
    color: #5d6770;
    margin: 20px 0 10px;
    font-weight: bold;
    text-align: left;
}

.menu-item {
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    color: #363d43;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
}

.menu-item:hover {
    background-color: rgb(223, 227, 223);
    color: rgb(0, 158, 0);
    border-radius: 10px;
    transition: in 0.3s ease;
}

.menu-section a {
    text-decoration: none;
}